@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@100;400&display=swap');

body {
    margin: 0;
    padding: 0;
    background: #1F2937;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 48px;
    
}

.title {
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
}

.searchBar {
    border-radius: 9999px;
    background: #374151;
}



